:root {
  --white-color: #ffffff;
  --work-sans-font: "Work Sans", sans-serif;
  --space-mono-font: "Space Mono", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-transform: capitalize;
  color: white;
}

body {
  font-family: var(--work-sans-font);
  background: #2b2b2b;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--work-sans-font);
}

p {
  font-family: var(--work-sans-font);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

button {
  border: none;
  text-decoration: transparent;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
}

.header-logo_border {
  display: flex;
  column-gap: 12px;
  align-items: center;
  color: white;
  font-family: var(--space-mono-font);
}

.header-nav2_border {
  display: flex;
  align-items: center;
  column-gap: 30px;
}

.header-nav2 ul {
  display: flex;
  column-gap: 50px;
}

.header-nav2 ul li a {
  color: white;
  font-size: 16px;
  font-weight: 600px;
  line-height: 23px;
}

.header-nav-border {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 50px;
}

.header-button {
  display: flex;
  column-gap: 12px;
  align-items: center;
  background-color: transparent;
  border: none;
  color: white;
  background: #a259ff;
  border-radius: 20px;
  padding: 19px 30px;
  font-size: 16px;
  font-weight: 600;
  line-height: 23px;
}

.hero_section {
  padding: 80px 115px;
}

.hero-border {
  display: flex;
  column-gap: 30px;
  justify-content: center;
  align-items: flex-start;
}

.hero-texts {
  color: white;
  text-transform: capitalize;
}

.hero-texts h1 {
  font-size: 67px;
  font-weight: 600;
  line-height: 74px;
  font-family: var(--work-sans-font);
}

.hero-texts p {
  margin-top: 20px;
  font-size: 22px;
  font-weight: 400;
  line-height: 36px;
  font-family: var(--work-sans-font);
}

.hero-get_started {
  display: flex;
  column-gap: 12px;
  margin-top: 30px;
  margin-bottom: 30px;
  border: none;
  font-size: 16px;
  line-height: 23px;
  background-color: transparent;
  color: white;
  border-radius: 20px;
  padding: 19px 50px;
  border-radius: 20px;
  background: #a259ff;
  align-items: center;
  font-family: var(--work-sans-font);
  font-weight: 600;
}

.hero-social_numbers {
  display: flex;
  column-gap: 30px;
}

.hero-social_numbers h4 {
  font-size: 28px;
  line-height: 40px;
  font-family: var(--space-mono-font);
  font-weight: 700;
}

.hero-social_numbers p {
  font-size: 24px;
  line-height: 39px;
  font-family: var(--work-sans-font);
  font-weight: 400;
}

.hero-get_started2 {
  display: flex;
  column-gap: 12px;
  margin-bottom: 30px;
  border: none;
  font-size: 16px;
  background-color: transparent;
  color: white;
  border-radius: 20px;
  padding: 19px 50px;
  border-radius: 20px;
  background: #a259ff;
  align-items: center;
  display: none;
}

.hero-social_numbers2 {
  display: flex;
  column-gap: 30px;
  align-items: stretch;
  display: none;
}

.hero-social_numbers2 p {
  font-size: 24px;
  line-height: 40px;
}

.hero-image {
  background: #3b3b3b;
  border-radius: 20px 20px;
  align-items: flex-start;
}

.hero-image p {
  color: white;
  font-size: 22px;
  line-height: 31px;
  font-weight: 600;
  font-family: var(--work-sans-font);
}

.space {
  padding: 20px 20px;
  align-items: flex-start;
}

.hero-mini_logo {
  display: flex;
  column-gap: 12px;
  margin-top: 10px;
  align-items: flex-start;
}

.hero-mini_logo p {
  font-size: 16px;
  line-height: 23px;
  font-weight: 400;
}

.section2 {
  padding: 80px 115px;
}

.section2-main-texts h2 {
  font-size: 38px;
  line-height: 46px;
  font-weight: 600;
}

.section2-main-texts p {
  margin-top: 10px;
  font-size: 22px;
  line-height: 36px;
  font-weight: 400;
}

.section2-images-border {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin-top: 60px;
  column-gap: 30px;
  justify-content: center;
}

.section2-images-mini {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 15px;
  margin-top: 15px;
}

.section2-button {
  padding: 32px 15px;
  border-radius: 20px;
  background: #a259ff;
  width: 100px;
  color: white;
  font-size: 22px;
}

.border-design_animals {
  margin-top: 15px;
}

.border-design_animals h4 {
  font-size: 22px;
  line-height: 31px;
  font-weight: 600;
}

.section2-mini-logo {
  margin-top: 10px;
  display: flex;
  align-items: center;
  column-gap: 12px;
}

.section2-mini-logo p {
  font-size: 16px;
  line-height: 23px;
  font-weight: 400;
}

.section3 {
  padding: 80px 115px;
}

.section3-texts_border {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.section3-texts h2 {
  font-size: 38px;
  line-height: 46px;
  font-weight: 600;
}

.section3-texts p {
  margin-top: 10px;
  font-size: 22px;
  line-height: 36px;
  font-weight: 400;
}

.section3-button {
  padding: 19px 50px;
  display: flex;
  align-items: center;
  column-gap: 12px;
  color: white;
  background-color: transparent;
  font-size: 16px;
  border: 2px solid #a259ff;
  border-radius: 20px;
  line-height: 23px;
  font-weight: 600;
  font-family: var(--work-sans-font);
}

.section3-button_bottom {
  padding: 19px 50px;
  display: flex;
  align-items: center;
  column-gap: 12px;
  color: white;
  background-color: transparent;
  font-size: 16px;
  border: 2px solid #a259ff;
  border-radius: 20px;
  line-height: 23px;
  font-weight: 600;
  font-family: var(--work-sans-font);
  display: none;
}

.section3-images_border {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  margin-top: 60px;
  gap: 30px;
  justify-content: space-between;
}

.section3_box {
  padding: 20px 20px;
  border-radius: 20px;
  background: #3b3b3b;
  position: relative;
}

.section3-avatar_text p {
  color: #858584;
  background: #2b2b2b;
  border-radius: 20px 20px;
  padding: 4px 10px;
  position: absolute;
  width: 30px;
  height: 30px;
  text-align: center;
}

.section3-avatar_text_large p {
  color: #858584;
  background: #2b2b2b;
  border-radius: 20px 20px;
  padding: 5px 9px;
  position: absolute;
}

.section3-avatar_keepitreal {
  display: block;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}

.section3-total h4 {
  text-align: center;
  font-size: 22px;
  font-weight: 600;
  line-height: 31px;
  margin-top: 20px;
  margin-bottom: 5px;
}

.section3-total {
  font-family: var(--work-sans-font);
}

.section3-total-sales {
  color: #858584;
  font-size: 16px;
  line-height: 23px;
  font-weight: 400;
}

.section3-total_number {
  color: white;
  font-family: var(--space-mono-font);
}

.section4 {
  padding: 80px 115px;
}

.section4-text {
  font-size: 38px;
  line-height: 46px;
  font-weight: 600;
}

.section4-images-border {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 30px;
  margin-top: 60px;
  justify-content: center;
}

.section4-images {
  display: inline-block;
  position: relative;
  border-radius: 20px 20px 0 0;
  overflow: hidden;
}

.section4-images p {
  padding: 20px 30px 25px 30px;
  background: #3b3b3b;
  border-radius: 0 0 20px 20px;
  flex-shrink: 0;
  font-size: 22px;
  font-weight: 600;
  line-height: 31px;
}
.section4-image img {
  filter: blur(7.5px);
  width: 240px;
  height: 240px;
}

.section4-logo {
  position: absolute;
  left: 70px;
  right: 70px;
  bottom: 125px;
}

.section5 {
  padding: 80px 115px;
}

.section5-texts_border {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.section5-texts h2 {
  font-size: 38px;
  line-height: 46px;
}

.section5-texts p {
  margin-top: 10px;
  font-size: 22px;
  line-height: 36px;
}

.section5-button {
  padding: 19px 50px;
  background: transparent;
  display: flex;
  column-gap: 12px;
  align-items: center;
  color: white;
  border: 2px solid #a259ff;
  border-radius: 20px;
}

.section5-button_bottom {
  padding: 19px 50px;
  background: transparent;
  display: flex;
  column-gap: 12px;
  align-items: center;
  color: white;
  border: 2px solid #a259ff;
  border-radius: 20px;
  display: none;
}

.section5-logo {
  display: flex;
  column-gap: 12px;
  align-items: center;
  margin-top: 5px;
}

.section5_images_border {
  margin-top: 60px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 30px;
  justify-content: center;
}

.section5_images_text_end {
  background: #3b3b3b;
  border-radius: 20px 20px;
}

.section5_images_text {
  background: #3b3b3b;
  border-radius: 20px 20px;
}

.distant_large {
  padding: 20px 30px;
}

.section5_images_text .distant {
  color: #ffffff;
  font-size: 22px;
  margin: 20px 30px;
}

.section5_price {
  display: flex;
  justify-content: space-between;
  margin-top: 25px;
}

.section5_price_mini {
  color: #858584;
  font-size: 12px;
  margin-bottom: 8px;
}

.section6 {
  background-image: linear-gradient(rgba(162, 89, 255, 0) 0%, #a259ff 100%),
    url("/images/mushroom.png");
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  height: 640px;
}

.section6_texts_border {
  padding: 60px 115px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  height: 100%;
}

.section6_mini_logo1 {
  max-width: 755px;
}

.section6_mini_logo {
  align-items: center;
  column-gap: 12px;
  border-radius: 20px;
  background: #3b3b3b;
  display: inline-flex;
  align-items: flex-end;
  padding: 10px 20px;
}

.section6_mini_logo p {
  font-size: 16px;
  font-weight: 400;
  line-height: 23px;
}

.section6_main_text h2 {
  margin-top: 30px;
  font-size: 51px;
  line-height: 57px;
}

.section6_button {
  display: flex;
  color: black;
  background: white;
  justify-content: center;
  align-items: center;
  column-gap: 12px;
  font-size: 16px;
  padding: 22px 50px;
  border-radius: 20px;
  margin-top: 30px;
}

.section6_button_bottom {
  display: flex;
  color: black;
  background: white;
  justify-content: center;
  align-items: center;
  column-gap: 12px;
  font-size: 16px;
  padding: 22px 50px;
  border-radius: 20px;
  margin-top: 30px;
  display: none;
}

.section6_box_text {
  border-radius: 20px;
  background: rgba(59, 59, 59, 0.5);
  backdrop-filter: blur(5px);
  padding: 30px 30px;
  font-size: 12px;
}

.section6_box_mini {
  color: white;
  display: flex;
  column-gap: 10px;
}

.section6_box_mini span {
  font-size: 28px;
  text-transform: capitalize;
}

.section6_box_mini div h3 {
  font-size: 38px;
  text-transform: capitalize;
}

.section6_box_mini div p {
  font-size: 12px;
}

.section7 {
  padding: 80px 115px;
}

.section7-main-texts h2 {
  font-size: 38px;
  line-height: 46px;
  font-weight: 600;
  text-transform: capitalize;
}

.section7-main-texts p {
  margin-top: 10px;
  font-size: 22px;
  line-height: 36px;
  font-weight: 400;
}

.section7_box_border {
  margin-top: 48px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  flex: 1 0 0;
  column-gap: 30px;
}

.section7_box {
  border-radius: 20px;
  background: #3b3b3b;
  padding: 10px 30px 30px 30px;
  text-align: center;
}

.section7_box h3 {
  margin-top: 20px;
  font-size: 22px;
  line-height: 31px;
  font-weight: 600;
}

.section7_box p {
  margin-top: 10px;
  font-size: 16px;
  line-height: 23px;
  font-weight: 400;
}

.section8 {
  padding: 40px 115px 80px 115px;
}

.section8_box {
  padding: 60px 60px;
  display: flex;
  justify-content: space-between;
  border-radius: 20px;
  background: #3b3b3b;
  column-gap: 80px;
  align-items: center;
}

.section8_texts h2 {
  font-size: 38px;
  line-height: 46px;
  font-weight: 600;
}

.section8_texts p {
  margin-top: 10px;
  font-size: 22px;
  line-height: 36px;
  font-weight: 400;
}

.section8-button {
  display: flex;
  position: relative;
  margin-top: 40px;
}

.section8-button input {
  padding: 19px 70px 19px 20px;
  background: white;
  outline: none;
  border: none;
  border-radius: 20px;
  width: 100%;
}

.section8-button button {
  padding: 19px 50px;
  background: #a259ff;
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  border: none;
  border-radius: 20px;
}

.section8_subscribe {
  display: flex;
  align-items: center;
  column-gap: 12px;
  color: white;
}

.footer {
  padding: 40px 115px;
}

.footer_border {
  display: flex;
  justify-content: space-between;
  flex: 1 0 0;
}

.footer_logo {
  display: flex;
  column-gap: 12px;
  align-items: center;
  color: white;
  font-size: 22px;
  font-family: var(--space-mono-font);
}

.footer_mini_text {
  margin-top: 30px;
  color: #ccc;
  max-width: 238px;
}

.footer_mini_text_second {
  margin-top: 25px;
  color: #ccc;
  font-size: 16px;
  max-width: 330px;
}

.footer_mini_text2 {
  margin-top: 20px;
  color: #ccc;
  font-size: 16px;
}

.footer_mini_text3 {
  margin-top: 20px;
  color: #ccc;
  font-size: 16px;
}

.footer_social {
  margin-top: 15px;
  display: flex;
  column-gap: 10px;
}

.footer-button {
  display: inline-flex;
  position: relative;
  column-gap: 60px;
  margin-top: 20px;
}

.footer-button input {
  padding: 19px 70px 19px 20px;
  background: white;
  outline: none;
  border: none;
  border-radius: 20px;
  width: 100%;
}

.footer-button button {
  padding: 19px 20px;
  background: #a259ff;
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  border: none;
  border-radius: 20px;
}

.footer_subscribe {
  color: white;
}

.footer_copyright {
  margin-top: 30px;
  padding-top: 20px;
  border-top: 1px solid #858584;
  color: #ccc;
}

.header_burger_menu {
  display: none;
}

@media only screen and (max-width: 992px) {
  .header-nav2_border {
    display: none;
  }

  .header_burger_menu {
    display: block;
  }

  .header-nav-border {
    padding: 15px 50px;
  }

  .header-logo_border {
    column-gap: 9px;
  }

  .hero_section {
    padding: 80px 72px;
  }

  .hero-texts h1 {
    font-size: 38px;
    line-height: 46px;
  }

  .hero-texts p {
    font-size: 16px;
    line-height: 23px;
  }

  .hero-get_started {
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .hero-get_started2 {
    display: none;
  }

  .hero-social_numbers2 {
    display: none;
  }

  .hero-social_numbers h4 {
    font-size: 22px;
    line-height: 36px;
  }

  .hero-social_numbers p {
    font-size: 16px;
    line-height: 23px;
  }

  .hero-image {
    width: 330px;
  }

  .hero-image img {
    width: 100%;
  }

  .hero-mini_logo {
    width: 20px;
  }

  .section2 {
    padding: 40px 72px;
  }

  .section2-main-texts h2 {
    font-size: 28px;
    line-height: 40px;
  }

  .section2-main-texts p {
    font-size: 16px;
    line-height: 23px;
  }

  .section2-images-border {
    margin-top: 40px;
    justify-content: space-between;
  }

  .section2-images-border > div:last-child {
    display: none;
  }

  .section3 {
    padding: 40px 72px;
  }

  .section3-texts h2 {
    font-size: 28px;
    line-height: 40px;
  }

  .section3-button_buttom {
    display: none;
  }

  .section3-texts p {
    font-size: 16px;
    line-height: 23px;
  }

  .section3-images_border {
    margin-top: 40px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
  }

  .section3_box:nth-child(n + 7) {
    display: none;
  }

  .section3_box {
    display: flex;
    column-gap: 12px;
  }

  .section3_box img {
    width: 60px;
    height: 60px;
    margin-left: 0;
  }

  .section3-avatar_keepitreal {
    display: block;
    justify-content: center;
  }

  .section3-total h4 {
    font-size: 22px;
    font-weight: 600;
    line-height: 31px;
    margin-top: 20px;
    margin-bottom: 5px;
    text-align: left;
  }

  .section3-avatar_text {
    top: 13px;
    left: 12px;
  }

  .section4 {
    padding: 40px 72px;
  }

  .section4-text {
    font-size: 28px;
    line-height: 40px;
  }

  .section4-images-border {
    margin-top: 40px;
    justify-content: space-between;
  }

  .section4-images-border2 {
    justify-content: space-between;
  }

  .section4-images p {
    padding: 20px 20px 25px 20px;
    flex: 1 0 0;
    font-size: 16px;
    line-height: 23px;
    font-weight: 600;
  }

  .section4-image img {
    width: 150px;
    height: 142px;
    width: 100%;
  }

  .section4-logo svg {
    width: 80px;
    height: 80px;
  }

  .section4-logo {
    position: absolute;
    left: 35px;
    bottom: 98px;
  }

  .section5 {
    padding: 40px 72px;
  }

  .section5-texts h2 {
    font-size: 28px;
    line-height: 40px;
  }

  .section5-texts p {
    font-size: 16px;
    line-height: 23px;
  }

  .section5-button_bottom {
    display: none;
  }

  .section5_images_border {
    margin-top: 40px;
  }

  .section5_images_text_end {
    display: none;
  }

  .section5_mini_images {
    height: 295px;
    width: 100%;
  }

  .section6_main_text h2 {
    font-size: 38px;
    line-height: 46px;
  }

  .section6_image {
    width: 834px;
    height: 630px;
  }

  .section6_button_bottom {
    display: none;
  }

  .section7 {
    padding: 40px 72px;
  }

  .section7-main-texts h2 {
    font-size: 28px;
    line-height: 40px;
  }

  .section7-main-texts p {
    font-size: 16px;
    line-height: 23px;
  }

  .section7_box_border {
    margin-top: 40px;
  }

  .section7_box {
    padding: 10px 20px 30px 20px;
  }

  .section7_box h3 {
    font-size: 16px;
    line-height: 23px;
  }

  .section7_box p {
    font-size: 12px;
    line-height: 17px;
  }

  .section8 {
    padding: 40px 72px 80px 72px;
  }

  .section8_box {
    padding: 40px 30px;
    column-gap: 30px;
  }

  .section8_texts h2 {
    font-size: 28px;
    line-height: 40px;
  }

  .section8_texts p {
    font-size: 16px;
    line-height: 23px;
  }

  .section8-button {
    position: static;
  }

  .footer {
    padding: 40px 72px;
  }

  .footer_border {
    flex-direction: column;
    row-gap: 20pz;
  }

  .footer_mini_text {
    margin-top: 24px;
    display: inline;
  }

  .footer_logo {
    margin-top: 30px;
  }

  .footer_mini_text_second {
    margin-top: 20px;
  }
}

@media only screen and (max-width: 480px) {
  .header-nav-border {
    padding: 15px 30px;
  }

  .hero_section {
    padding: 40px 30px;
  }

  .hero-border {
    flex-direction: column;
  }

  .hero-texts h1 {
    font-size: 28px;
    line-height: 40px;
  }

  .hero-texts p {
    margin-top: 10px;
  }

  .hero-image {
    margin-top: 40px;
    margin-bottom: 40px;
    width: 100%;
  }

  .hero-get_started {
    display: none;
  }

  .hero-social_numbers {
    display: none;
  }

  .hero-get_started2 {
    margin-bottom: 40px;
    width: 100%;
    justify-content: center;
    font-family: var(--space-mono-font);
  }

  .hero-get_started2 {
    display: block;
  }

  .hero-social_numbers2 {
    display: flex;
  }

  .hero-social_numbers2 h4 {
    font-size: 22px;
    line-height: 36px;
    font-weight: 700;
    font-family: var(--space-mono-font);
  }
  .hero-social_numbers2 p {
    font-size: 16px;
    line-height: 23px;
    font-weight: 400;
    font-family: var(-- --work-sans-font);
  }

  .section2 {
    padding: 40px 30px;
  }

  .section2-main-texts {
    width: 100%;
  }

  .section2_first_image {
    width: 100%;
  }

  .section2-images-border > div:nth-child(n + 2) {
    display: none;
  }

  .section3 {
    padding: 40px 30px;
  }

  .section3-button {
    display: none;
  }

  .section3-images_border {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 20px;
  }

  .section3-images_border > div:nth-child(n + 6) {
    display: none;
  }

  .section3-button_bottom {
    display: flex;
    margin-top: 40px;
    width: 100%;
    justify-content: center;
  }

  .section4 {
    padding: 40px 30px;
  }

  .section4-images-border {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    justify-content: space-between;
  }

  .section5 {
    padding: 40px 30px 60px 30px;
  }

  .section5_images_border {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 20px;
  }

  .section5_images_text_end {
    display: block;
  }

  .section5-button {
    display: none;
  }

  .section5-button_bottom {
    display: flex;
    margin-top: 40px;
    width: 100%;
    justify-content: center;
  }

  .section6 {
    height: auto;
  }

  .section6_texts_border {
    padding: 120px 30px 40px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    flex-direction: column;
  }

  .section6_box_text {
    width: 100%;
    margin-top: 30px;
  }

  .section6_box_mini {
    justify-content: space-between;
  }

  .section6_button {
    display: none;
  }

  .section6_button_bottom {
    display: flex;
    width: 100%;
  }

  .section7 {
    padding: 40px 30px;
  }

  .section7_box_border {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 20px;
  }

  .section7_box {
    display: flex;
    padding: 20px 20px;
    column-gap: 20px;
  }

  .section7_box img {
    width: 100px;
  }

  .section7_box_texts {
    text-align: left;
  }

  .section7_box h3 {
    margin-top: 0;
  }

  .section8 {
    padding: 40px 30px;
  }

  .section8_box {
    flex-direction: column;
    padding: 0 0;
    margin-top: 40px;
  }

  .section8_image img {
    width: 100%;
  }

  .section8_texts {
    margin-top: 30px;
  }

  .footer {
    padding: 40px 30px;
  }

  .footer_mini_text {
    margin-top: 24px;
    display: inline;
  }
}
